@media screen and (min-width: 2000px)
  .sam
    &__back
      transform: scale(1.2)
      z-index: 20
    &__info
      transform-origin: right top
      transform: scale(1.3)

@media screen and (min-height: 1130px)
  .sam
    &__pyramid
      top: 17%
    &__pers
      top: 20%
    &__salut2
      top: 182px
      left: 918px



@media screen and (max-width: 2000px) and (max-height: 610px) and (orientation: landscape)
  .sam
    &__back
      transform: scale(0.9)
      z-index: 20

@media screen and (max-width: 1845px)
  .sam
    &__pers
      top: 19%
    &__pyramid
      top: 16%
    &__footer
      padding: 21px 40px
      &-item
        .percent
          font-size: 62px
          line-height: 42px
          white-space: nowrap
        .info
          font-size: 20px
          line-height: 26px
          white-space: nowrap

@media screen and (max-width: 1700px)
  .sam
    &__info
      padding: 57px 92px 0 0

@media screen and (max-width: 1610px) and (max-height: 805px)
  .sam
    &__logo
      max-width: 390px
    &__info
      padding: 22px 92px 0 0

@media screen and (max-width: 1610px) and (max-height: 749px)
  .sam
    &__footer
      padding: 15px 40px


@media screen and (max-width: 1500px)
  .sam
    &__logo
      max-width: 340px
    &__pyramid
      top: 13%
      width: 188vh
    &__salut1
      top: -91px
      left: 348px
    &__salut2
      top: 196px
      left: 728px
    &__salut3
      right: 71px
    &__pers
      left: 11px
    &__title
      font-size: 62px
      line-height: 72px
      margin: 0 0 20px 0
    &__code
      margin: 0 0 34px 0
      &::after
        opacity: 0
        font-size: 15px
        line-height: 22px
        top: -2px
        right: -60px
      &-text
        font-size: 52px
        line-height: 72px
        padding: 5px 32px 7px
      &-info
        padding: 7px 24px 5px
        font-size: 15px
        line-height: 19px
      &-copy
        width: 46px
        height: 46px
        right: -55px
        img
          max-width: 22px
    &__link
      padding: 22px 87px 20px
      font-size: 18px
      line-height: 23px
      margin: 0 0 20px 0
    &__button-rules
      font-size: 12px
      line-height: 16px
    &__info
      padding: 70px 100px 0 0
    &__footer
      padding: 21px 30px 21px 40px
      &-item
        margin: 0 20px 0 0
        .percent
          margin: 0 20px 0 0
      &-copyright
        .img1
          max-width: 50px
          margin: 0 10px 0 0
        .img2
          max-width: 50px
        .text
          font-size: 12px
          line-height: 16px

@media screen and (max-width: 1370px) and (min-height: 870px)
  .sam
    &__pyramid
      left: -167px
      top: 14%
    &__pers
      top: 20%

@media screen and (max-width: 1370px) and (max-height: 770px)
  .sam
    &__salut1
      top: -67px
      left: 382px
    &__salut2
      top: 174px
      left: 649px
    &__salut4
      bottom: 115px

@media screen and (max-width: 1370px) and (max-height: 650px)
  .sam
    &__logo
      max-width: 297px
    &__info
      padding: 50px 100px 0 0

@media screen and (max-width: 1345px)
  .sam
    &__footer
      justify-content: center
      &-copyright
        position: absolute
        right: 38px
        bottom: 125px



@media screen and (max-width: 1280px)
  .sam
    &__logo
      max-width: 300px
    &__pyramid
      left: -120px
    &__pers
      left: -23px
    &__salut2
      top: 113px
      left: 619px

@media screen and (max-width: 1300px) and (min-height: 1000px)
  .sam
    &__pyramid
      left: -269px



@media screen and (max-width: 1280px) and (max-height: 700px)
  .sam
    &__info
      transform-origin: top right
      transform: scale(0.9)
    &__pyramid
      left: 0

@media screen and (max-width: 1280px) and (max-height: 640px)
  .sam
    &__info
      transform-origin: top right
      transform: scale(0.8)
    &__footer
      &-copyright
        bottom: 110px

@media screen and (max-width: 1200px) and (orientation: landscape)
  .sam
    &__info
      padding: 50px 18px 0 0
      transform: scale(1)
    &__pyramid
      left: -192px
    &__pers
      left: -60px
    &__title
      font-size: 57px
      line-height: 66px
      text-align: right
    &__code
      align-items: flex-end
      &::after
        left: -60px
      &-copy
        left: -55px
        right: auto
      &-info
        padding: 4px 8px 2px
        font-size: 18px
        line-height: 23px
    &__footer
      &-copyright
        bottom: 101px

@media screen and (max-width: 1200px) and (orientation: landscape) and (max-height: 650px)
  .sam
    &__info
      transform: scale(0.9)

@media screen and (max-width: 1080px)
  .sam
    &__footer
      &-item
        .percent
          font-size: 58px
          line-height: 36px
          margin: 0 15px 0 0
        .info
          font-size: 17px
          line-height: 20px

@media screen and (max-width: 1050px) and (orientation: landscape)
  .sam
    &__pyramid
      left: -244px

/*************************************TABLET******************************************/

@media screen and (max-width: 1024px) and (orientation: portrait)
  .sam
    &__pers
      top: 24%
      left: -180px
    &__pyramid
      left: 0
      width: 100%
      top: 34%
      position: absolute
    &__salut1
      top: -405px
      left: -54px
      width: 35vh
      height: 35vh
    &__salut2
      width: 30vh
      height: 30vh
      top: -170px
      left: 309px
    &__salut3
      width: 20vh
      height: 20vh
      bottom: 279px
    &__salut4
      width: 15vh
      height: 15vh
      bottom: 363px
      right: -76px
    &__footer
      padding: 30px 30px 25px
      &-list
        justify-content: space-between
      &-item
        display: flex
        flex-direction: column
        align-items: flex-start
        margin: 0 60px 0 0
        &:last-child
          margin: 0
        .percent
          margin: 0 0 17px 0
        .info
          br
            display: none
      &-copyright
        transform-origin: right top
        transform: scale(1.2)
        bottom: 250px
        left: 15px
        flex-direction: column-reverse
        align-items: flex-end
        .img1,
        .img2
          margin: 0 0 10px 0
        .img1
          order: 3
          max-width: 44px
        .img2
          order: 2
          max-width: 43px
        .text
          margin: 0
          order: 1
          font-size: 10px
          line-height: 12px
    &__info
      padding: 70px 45px 0 0
      transform: scale(1)
    &__title
      font-size: 57px
      line-height: 66px
      text-align: right
    &__code
      align-items: flex-end
      &::after
        left: -60px
      &-copy
        left: -55px
        right: auto
      &-info
        padding: 4px 8px 2px
        font-size: 18px
        line-height: 23px


@media screen and (max-width: 1024px) and (orientation: portrait) and (min-height: 1050px)
  .sam
    &__pyramid
      top: 40%

@media screen and (max-width: 850px) and (orientation: portrait)
  .sam
    &__pers
      width: 51vh
      top: 30%
      left: -145px

@media screen and (max-width: 850px) and (orientation: portrait) and (max-height: 1050px)
  .sam
    &__salut1
      top: -209px
    &__salut2
      top: -28px
      left: 208px

@media screen and (max-width: 850px) and (orientation: portrait) and (max-height: 960px)
  .sam
    &__info
      padding: 41px 30px 0 0




@media screen and (max-width: 800px) and (orientation: portrait)
  .sam
    &__back
      transform: scale(0.9)
      z-index: 20

@media screen and (max-width: 800px) and (orientation: portrait) and (min-height: 1000px)
  .sam
    &__pyramid
      top: 40%
    &__salut1
      top: -270px

@media screen and (max-width: 720px) and (orientation: portrait)
  .sam
    &__footer
      &-item
        margin: 0 29px 0 0
        &:last-child
          margin: 0
    &__pyramid
      top: 39%

@media screen and (max-width: 710px) and (orientation: portrait)
  .sam
    &__back
      transform: scale(0.8)
      z-index: 20




/*************************************MOBILE******************************************/

@media screen and (max-width: 600px) and (orientation: portrait)
  .sam
    flex-direction: column
    &__overlay
      .blur
        background: linear-gradient(209.07deg, rgba(0, 0, 85, 0.9) 52.28%, rgba(255, 38, 126, 0.9) 123.78%)
    &__back
      transform: scale(1)
      height: 100%
      &::after,
      &::before
        content: none
        background: none
        display: none
    &__rules
      max-width: 100%
      height: 100%
      padding: 0 15px
      background: transparent
      box-shadow: none
      position: relative
      &::after
        content: ''
        position: absolute
        bottom: 0
        right: 0
        width: 285px
        height: 226px
        transform-origin: bottom right
        transform: scale(0.8)
        background: url("../img/statue-rules-mob.png") no-repeat 50% 0/contain
      &-wrapper
        padding: 110px 0 0 0
        position: relative
        z-index: 15
      &-close
        width: 44px
        height: 44px
        top: 30px
        right: 30px
      &-title
        margin: 0 0 25px 0
      &-item
        font-size: 15px
        line-height: 20px
        padding: 0 0 0 35px
        &:not(:last-child)
          margin: 0 0 20px 0
        &::after
          width: 28px
          height: 28px
          font-size: 15px
          line-height: 40px
    &__logo
      max-width: 184px
    &__code-copy
      display: none
    &__button-mob
      display: block
      img
        transition: .3s ease
      &.active
        img
          transform: rotate(180deg)
    &__info
      width: 100%
      height: 100%
      padding: 90px 0 0 0
    &__title
      text-align: center
      font-size: 44px
      line-height: 48px
    &__code
      align-items: center
      flex: 1 1 auto
      &-text
        padding: 4px 30px 2px
        font-size: 42px
        line-height: 58px
      &-info
        padding: 6px 8px 4px
        font-size: 13px
        line-height: 17px
    .wrapper-mob
      padding: 17px 15px 8px
      background: $blue
      width: 100%
      align-items: center
    &__link
      font-size: 18px
      line-height: 23px
      width: 100%
      padding: 15px 15px 13px
      text-align: center
      margin: 0 0 10px 0
    &__button-rules
      font-size: 12px
      line-height: 16px
    &__button-mob
      height: 40px
      width: 100%
      display: flex
      align-items: flex-end
      justify-content: center
    &__pers
      width: 60%
      height: auto
      top: auto
      left: -66px
      bottom: 130px
    &__pyramid
      height: auto
      top: auto
      bottom: 130px
    &__salut1
      top: -322px
      width: 25vh
      height: 25vh
      left: auto
      right: -29px
    &__salut2
      top: 18px
      left: 99px
    &__salut3
      bottom: auto
      top: 24px
      left: -48px
    &__salut4
      width: 25vh
      height: 25vh
      bottom: 176px
      right: -76px
    &__footer
      display: none
      flex-direction: column
      position: absolute
      padding: 0
      bottom: -329px
      height: 337px
      &-list
        flex-direction: column
      &.visible
        display: flex
      &-copyright
        position: relative
        flex-direction: row
        bottom: auto
        left: auto
        right: auto
        top: auto
        align-self: center
        display: grid
        grid-template-columns: 1fr 1fr
        padding: 26px 0 18px 0
        justify-items: center
        gap: 10px
        margin-right: -15px
        .img1
          grid-row: 1/2
          grid-column: 1/2
          margin: 0
          justify-self: right
          max-width: 33px
        .img2
          grid-row: 1/2
          grid-column: 2/3
          margin: 0
          justify-self: left
          max-width: 33px
        .text
          grid-row: 2/3
          grid-column: 1/3
          margin: 0
          font-size: 8px
          line-height: 10px
          br
            display: none



      &-item
        flex-direction: row
        width: 100%
        justify-content: space-between
        margin: 0
        padding: 15px 0
        border-top: 1px solid rgba(255, 255, 255, 0.2)
        &:last-child
          border-bottom: 1px solid rgba(255, 255, 255, 0.2)
        .percent
          font-size: 40px
          line-height: 36px
          margin: 0 0 0 15px

        .info
          font-size: 14px
          line-height: 16px
          margin: 0 15px 0 0
          br
            display: block

@media screen and (max-width: 600px) and (orientation: portrait) and (max-height: 700px)
  .sam
    &__rules
      &-wrapper
        padding: 90px 0 0 0
      &-close
        transform: scale(1)
        top: 25px
        right: 25px

@media screen and (max-width: 600px) and (orientation: portrait) and (min-height: 800px)
  .sam
    &__pers
      transform-origin: bottom center
      transform: scale(1.3)
      left: -48px

@media screen and (max-width: 380px) and (orientation: portrait) and (max-height: 660px)
  .sam
    &__info
      padding: 63px 0 0 0
    &__title
      transform-origin: top center
      transform: scale(0.8)
      margin: 0 0 -9px 0
    &__code
      transform-origin: top center
      transform: scale(0.8)
    &__button-mob
      height: 25px
    &__pyramid
      bottom: 95px
    &__pers
      bottom: 98px
    &__salut1
      top: -159px
      right: -57px


@media screen and (max-width: 375px) and (orientation: portrait)
  .sam
    &__rules
      &-title
        font-size: 21px
        line-height: 30px
      &-item
        font-size: 13px
        line-height: 19px
        &:not(:last-child)
          margin: 0 0 15px 0

@media screen and (max-width: 335px) and (orientation: portrait)
  .sam
    &__title
      transform-origin: top center
      transform: scale(0.8)
      margin: 0 0 -9px 0
    &__code
      transform-origin: top center
      transform: scale(0.8)
    &__pers
      left: -47px





/*************************************LANDSCAPE******************************************/

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
  .sam
    &__overlay
      &::after
        content: ''
        position: absolute
        bottom: 0
        right: 0
        width: 285px
        height: 226px
        transform-origin: bottom right
        transform: scale(0.8)
        background: url("../img/statue-rules-mob.png") no-repeat 50% 0/contain
        z-index: 10
      .blur
        background: linear-gradient(209.07deg, rgba(0, 0, 85, 0.9) 52.28%, rgba(255, 38, 126, 0.9) 123.78%)

    &__back
      transform: scale(0.7)
      &::after,
      &::before
        content: none
        background: none
        display: none
    &__rules
      min-width: 600px
    &__logo
      max-width: 174px
    &__footer
      padding: 7px
      &-copyright
        position: static
        .text
          font-size: 9px
          line-height: 11px
        .img1,
        .img2
          max-width: 32px
      &-item
        .percent
          font-size: 28px
          line-height: 28px
          margin: 0 14px 0 0
        .info
          font-size: 12px
          line-height: 14px
    &__pyramid
      width: 100%
      height: auto
      top: auto
      bottom: 20px
      left: -170px
    &__pers
      left: -24px
      top: 23%
    &__info
      transform-origin: top right
      transform: scale(0.7)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 400px)
  .sam
    &__back
      transform: scale(0.6)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 380px)
  .sam
    &__pyramid
      transform-origin: bottom left
      transform: scale(0.9)
    &__info
      transform-origin: top right
      transform: scale(0.6)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 345px)
  .sam
    &__overlay
      &::after
        transform-origin: right bottom
        transform: scale(0.68)
    &__back
      transform: scale(0.48)
    &__pyramid
      transform-origin: bottom left
      transform: scale(0.8)
      left: -85px
    &__info
      transform-origin: top right
      transform: scale(0.5)

@media screen and (max-width: 770px) and (orientation: landscape)
  .sam
    &__footer
      transform: scale(0.8)
      z-index: 10
      transform-origin: bottom center
      &::before
        content: ''
        position: absolute
        width: 200%
        height: 45.4px
        background: $blue
        bottom: 0
        left: -100px
        z-index: -1

@media screen and (max-width: 620px) and (orientation: landscape)
  .sam
    &__footer
      transform: scale(0.7)
      z-index: 10
      transform-origin: bottom center
      &::before
        left: -150px



















