.sam.overflow
    .sam__overlay.opacity
            .blur
            .sam__back.hidden
                .sam__rules
                    .sam__rules-close
                        span
                    .sam__rules-wrapper
                        .sam__rules-title Cum obții  bonusul de 100 Rotiri Gratuite cu codul promoțional "#[span FAVBETCITY]"
                        ul.sam__rules-list
                            li.sam__rules-item Înregistrează-te dacă nu ai deja cont la noi: <a href="https://www.favbet.ro">https://www.favbet.ro</a>
                            li.sam__rules-item Introdu codul promoțional „FAVBET CITY” accesând contul tău secțiunea „Bonusuri”.
                            li.sam__rules-item Alimentează contul cu minim 25 de lei, în maxim 5 zile de la introducerea codului promoțional.
                            li.sam__rules-item Rulează 100 de lei în secțiunea Sport sau Casino, în 5 zile după introducerea codului promoțional și obține instantaneu bonusul de 100 Rotiri Gratuite la jocul Shining Crown.
    .sam__wrapper
        .sam__salut3
        .sam__salut4
        .sam__info
            .sam__title Orașul #[br] distracției
            .sam__code
                .sam__code-text FAVBETCITY
                .sam__code-info #[span 100 Rotiri Gratuite] COD PROMO
                button(type='button').sam__code-copy
                    img(src='img/copy.svg' alt='copy')
            .wrapper-mob
                a(href='https://www.favbet.ro/ro/register/').sam__link Intră acum
                .sam__button-rules Cum se folosește codul promoțional?
                a(href='#bottom').sam__button-mob
                    img(src='img/mob-bu.svg' alt='button')
        .sam__logo
            img(src='img/logo.svg' alt='logo')
        .sam__pyramid
            .sam__salut1
            .sam__salut2
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/pyramid-mob.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/pyramid-landscape.png")
                source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/pyramid-tab.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/pyramid-desc2.png")
                img(src="img/pyramid-desc2.png" alt="Favbet")
        .sam__pers
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/sam-mob.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/sam-mob.png")
                source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/sam-tab.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/sam-desc.png")
                img(src="img/sam-desc.png" alt="Favbet")
        .sam__footer
            ul.sam__footer-list
                li.sam__footer-item
                    .percent 100%
                    .info BONUS PÂNĂ #[br] LA 1000 LEI
                li.sam__footer-item
                    .percent +100LEI
                    .info PARIU #[br] FĂRĂ RISC
                li.sam__footer-item
                    .percent +100
                    .info ROTIRI #[br] GRATUITE
            .sam__footer-copyright(id='bottom')
                .text L1200662W001197. #[br] Se aplică T&C
                img(src='img/18plus.svg' alt='18+').img1
                img(src='img/onjn.svg' alt='onjin').img2






